###Vamos a predecir si el comentario sera positivo o negativo

Input(x) -> Comentarios (review)

Output(y) -> Sentimientos

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from imblearn.under_sampling import RandomUnderSampler #Esta libreria sirve para disminuir una data de un dataset
from sklearn.model_selection import train_test_split

In [ ]:
df_review = pd.read_csv('/content/drive/MyDrive/BigData/CursoDataScience/IMDB Dataset.csv') #Leemos dataset

In [ ]:
#Mostramos el dataset
df_review

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

#Reduciremos el dataset

In [ ]:
df_positivo = df_review[df_review['sentiment']=='positive'][:9000]
df_negativo = df_review[df_review['sentiment']=='negative'][:1000]
df_review_des = pd.concat([df_positivo, df_negativo])

In [ ]:
df_review_des #Imprimimos nuestro dataset de 10,000
#9,000 = positive
#1000 = negative

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
4     Petter Mattei's "Love in the Time of Money" is...  positive
5     Probably my all-time favorite movie, a story o...  positive
...                                                 ...       ...
2000  Stranded in Space (1972) MST3K version - a ver...  negative
2005  I happened to catch this supposed "horror" fli...  negative
2007  waste of 1h45 this nasty little film is one to...  negative
2010  Warning: This could spoil your movie. Watch it...  negative
2013  Quite what the producers of this appalling ada...  negative

[10000 rows x 2 columns]

In [ ]:
df_review_des.value_counts('sentiment') #Te arroja los valores

sentiment
positive    9000
negative    1000
dtype: int64

In [ ]:
rus = RandomUnderSampler(random_state=0)
#resample es para balancear la data
df_review_bal, df_review_bal['sentiment'] = rus.fit_resample(df_review_des[['review']], 
                                                             df_review_des['sentiment']) #Balanceamos los dataset

In [ ]:
#Mostramos el dataset
df_review_bal

                                                 review sentiment
0     Basically there's a family where a little boy ...  negative
1     This show was an amazing, fresh & innovative i...  negative
2     Encouraged by the positive comments about this...  negative
3     Phil the Alien is one of those quirky films wh...  negative
4     I saw this movie when I was about 12 when it c...  negative
...                                                 ...       ...
1995  Knute Rockne led an extraordinary life and his...  positive
1996  At the height of the 'Celebrity Big Brother' r...  positive
1997  This is another of Robert Altman's underrated ...  positive
1998  This movie won a special award at Cannes for i...  positive
1999  You'd be forgiven to think a Finnish director ...  positive

[2000 rows x 2 columns]

In [ ]:
df_review_bal.value_counts(['sentiment'])

sentiment
negative     1000
positive     1000
dtype: int64

###ENTRENAR Y TESTEAR DATA

In [ ]:
#Data para entrenar y data para testear

train, test = train_test_split(df_review_bal, test_size=0.33, random_state=42)

In [ ]:
#El porcentaje que va para Train es un aprox 70%
train_x , train_y = train['review'], train['sentiment']
test_x , test_y = test['review'] , test['sentiment']

#REPRESENTACION DE TEXT(Bag of Words)

- Count Vectorizer: funciona para contar cuantas veces aparece una palabra en una oracion que sea relevante para tomar una decision 

- Tfidf: Aqui tambien cuenta las palabras pero el resultado es en fracciones para darle relevancia que son mas importantes

# Transformar data de texto a data numerica

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

train_x_vector = tfidf.fit_transform(train_x) #Fit sirve para convertir los mejores parametros de las oraciones y Transform aplica los cambios
test_x_vector = tfidf.transform(test_x)  #En este solo ocupamos transformarlo porque no es entrenamiento

Vemos que funciona

In [ ]:
train_x_vector #Si hay muchos 0 es porque no hay palabras que se repiten

<1340x20625 sparse matrix of type '<class 'numpy.float64'>'
	with 118834 stored elements in Compressed Sparse Row format>

# SELECCION DEL MODELO

1. Aprendizaje supervisado(Supervised learning): Regresion (output numerico), Clasificacion (output discreto)

 - Input: Review
 - Output: Sentiment (discrete)

 2. Aprendizaje no supervisado

# SUPPORT VECTOR MACHINES (SVM)

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')
svc.fit(train_x_vector, train_y) #Entrenamos la DATA numerica y el output

SVC(kernel='linear')

# TESTEO

In [ ]:
print(svc.predict(tfidf.transform(['A good movie'])))
print(svc.predict(tfidf.transform(['An excellent movie'])))
print(svc.predict(tfidf.transform(['I did not like this movie at all'])))

['positive']
['positive']
['negative']

# DECISION TREE

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dec_tree = DecisionTreeClassifier()
dec_tree.fit(train_x_vector, train_y)

DecisionTreeClassifier()

# Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(train_x_vector.toarray(), train_y)

GaussianNB()

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_x_vector, train_y)

LogisticRegression()

PRECISION DEL MODELO

In [ ]:
print(svc.score(test_x_vector, test_y))
print(dec_tree.score(test_x_vector, test_y))
print(gnb.score(test_x_vector.toarray(), test_y))
print(lr.score(test_x_vector, test_y))

0.8409090909090909
0.656060606060606
0.6348484848484849
0.8303030303030303

In [ ]:
for x in range(1,10):
  print(x)

1
2
3
4
5
6
7
8
9